@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, hsla(198, 18%, 59%, 0.64), hsla(230, 78%, 63%, 0.53)), url("../img/wall-paper-wood.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: #9e9797;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 30px;
}

.nav > a {
    padding: 10px;
    color: #fffaeb;
    font-weight: 300;
    text-decoration: none;
    margin-right: 15px;
    transition: all 0.2s;
}

nav > a:hover {
    font-size: 20px;
    background: hsla(273, 91%, 27%, 0.7);
}

header .header-text {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-text h1 {
    font-size: 50px;
    color: #fffaeb;
}

.header-text h2 {
    font-size: 30px;
    font-weight: lighter;

    color: #fffaeb;
}

.header-text span {
    color: #642a73;
}

.title {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.background-about-me {
    background-color: #9e9797;
}

.about-me {
    padding: 50px 0 50px 0;
}

.container-about-me {
    display: flex;
    justify-content: space-evenly;

}

.image-about-me {

    width: auto;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.contents-text {
    width: 45%;
}

.contents-text h3 {
    margin-bottom: 15px;
}

.contents-text span {
    color: #e9caf1;
}

.contents-text p {
    padding: 15px;
    font-weight: 300;
    text-align: justify;
}

.button-download-cv {
    padding: 7px 16px;
    border:0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    color: #fffaeb;
    background-color: #642a73;
    align-content: center;
    margin-top: 15%;
    text-decoration: none;
}

.button-download-cv a {
    margin: auto;
}

.skills {
    background: #f2f2f2;
    height: 650px;
    padding: 50px 0;
}

.skills span {
    font-size: 40px;
}

.gallery-skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-skills {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*box-shadow: 0 0 6px rgba(0, 0, 0, .5);*/
}

.image-skills > img {
    width: 70%;
    height: 100%;
    display: block;
}

.hover-gallery {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img {
    width: 50%;
}

.hover-gallery p {
    color: #fffaeb;
}

.image-skills:hover .hover-gallery {
    transform: scale(1);
}

.hover-gallery span {
    font-size: 40px;
}

footer {
    background-color: #9e9797;
    padding: 60px 0 30px 0;
    /*margin: auto;*/
    /*overflow: hidden;*/
}

.container-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid #cccccc;
}

.content-footer {
    text-align: center;
    font-size: 20px;
}

.content-footer h4 {
    color:  #642a73;
    padding: 20px 0 20px 0;
}

.content-footer span {
    color: #fffaeb;
    padding: 5px;
}

.content-footer p {
    font-style: italic;
    cursor: pointer;
}

.content-footer a {
    font-style: italic;
    color: black;
    text-decoration: none;
}